/* 
.location-component {
    position: absolute;
    top: 350px;
    right: 80px
}

.date-component {
    position: absolute;
    top: 40px;
    right: 80px
}

.address-component {
    position: absolute;
    top: 250px;
    right: 80px;
} */

.bottom {
    border-bottom: 1px solid #000000;
}

.card {
/* Add shadows to create the "card" effect */
box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
width: 100%;
transition: 0.3s;
border-radius: 5px;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
padding: 16px 16px; 
}

p::last {
margin-bottom: 0;
}