/* 
.location-component {
    position: absolute;
    top: 350px;
    right: 80px
}

.date-component {
    position: absolute;
    top: 40px;
    right: 80px
}

.address-component {
    position: absolute;
    top: 250px;
    right: 80px;
} */